<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Servicios y/o Productos</title>
    <link rel='stylesheet' href='/css/style.css' />

</head>

<body>
    <figure>
        <img src="/img/logo_sinfondo" alt="Logo">
    </figure>
    <h1>LISTADO DE SERVICIOS Y/O PRODUCTOS</h1>
    <br>
    <p>
        <a class="botonAgregar" href="/productos/add">Agregar una Producto o Servicio</a>
        <a class="botonVolver" href="/">inicio</a>

    </p>
    <br>
    <ul>
        <% for( let i = 0; i < products.length; i++ ) { %>
        <li>
            <a href="/productos/detail/<%= productos[i].id %>"><%= productos[i].title %></a>
        </li>
        <% } %>

    </ul>
</body>

</html>