<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borrado de producto</title>
</head>
<body>
    <figure>
        <img src="" alt="Producto">
    </figure>
    <h1>Estas seguro que queres borrar el siguiente Producto: <%= Producto.name %></h1>
    <form action="/products/delete/ <%= Producto.id %>?_method=PUT" method="POST">

        <br>
        <button class="botonBorrar" type="submit">Borrar Producto</button>

        <a href="/products">Listado de Productos</a>
    </form>
</body>
</html>